<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gcr25_1800">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import gcr25_1800 urdf file -->
    <xacro:include filename="$(find duco_support)/urdf/duco_gcr25_1800.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="gcr25_1800.ros2_control.xacro" />


    <xacro:gcr25_1800_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
